<button
  [class]="buttonClass"
  (click)="onClick.emit()"
  (dragover)="onDragOver.emit($event)"
  (dragleave)="onDragLeave.emit($event)"
  (drop)="onDrop.emit($event)"
  [disabled]="hasDisabledCondition ? disabledCondition : null"
  [type]="typeButton"
>
  <icon-control
    *ngIf="hasIcon && !isIconRight"
    [iconClass]="iconClass"
    [class.hidden]="hasIconClassHidden ? iconClassHidden : ''"
  />
  <span [class]="textClass">{{ textButton }}</span>
  <icon-control
    *ngIf="hasIcon && isIconRight"
    [iconClass]="iconClass"
    [class.hidden]="hasIconClassHidden ? iconClassHidden : ''"
  />
  <ng-content></ng-content>
</button>
