<div class="flex flex-col h-screen overflow-hidden relative">
  <!-- Animated Background -->
  <animated-background></animated-background>
  <div class="min-h-screen flex items-center justify-center relative overflow-hidden">
    
  @switch (step()) {
    @case ('login') {
      <form-login (onNextStep)="step.set('success')" />   
    }

    @case ('pending') {
      <success-view
        successTitle="Link de verificación enviado"
        successMessage="Revisa tu correo para continuar con la verificación de tu cuenta. Si ya seguiste el enlace, puedes cerrar esta pestaña."
        [hasButton]="false"
      />
    }

    @case ('success') {
      <success-view
        successTitle="¡Hola de nuevo, hermosa!"
        successMessage="Tu estilo te estaba esperando. Explora lo mejor de la moda que tenemos para ti 💖"
        [hasButton]="true"
        [hasCustomButtonText]="true"
        customButtonText="Descubrir Novedades"
        (onClick)="onSuccess()"
      />
    
    }

  }
  </div>
</div>