<div
  *ngIf="useFormControl; else normalInput"
  [formGroup]="formGroup"
  class="space-y-2"
>
  <label *ngIf="hasLabel" [class]="labelClass">
    {{ label }}
  </label>
  <div class="relative">
    <icon-control *ngIf="hasIcon" [iconClass]="iconClass" />

    <input
      [type]="inputType"
      [value]="inputValue"
      formControlName="{{ controlName }}"
      [autocomplete]="enableAutocomplete"
      [class]="inputClass"
      [class.border-red-300]="isInvalid"
      [placeholder]="placeholder"
      [readOnly]="isReadOnly"
    />
  </div>
  <div *ngIf="isInvalid" [class]="errorClass">
    {{ errorMessage }}
  </div>
</div>

<ng-template #normalInput>
  <label *ngIf="hasLabel" [class]="labelClass">
    {{ label }}
  </label>
  <div class="relative">
    <icon-control [class]="iconClass" />
    <input
      [type]="inputType"
      [ngModel]="value"
      (ngModelChange)="onInputChange($event)"
      [autocomplete]="enableAutocomplete"
      [class]="inputClass"
      [placeholder]="placeholder"
      [readOnly]="isReadOnly"
      [value]="inputValue"
      (focus)="onFocusEvent.emit()"
      (blur)="onBlurEvent.emit()"
    />
  </div>
</ng-template>
