<!-- Botón (NO navega) -->
<button
  *ngIf="!hasLink; else iconWithLink"
  type="button"
  [ngClass]="linkClass"
  (click)="onClick($event)"
  aria-label="icon-button"
>
  <span [ngClass]="iconClass"></span>
  <span *ngIf="hasText" [ngClass]="textClass">{{ text }}</span>
</button>

<!-- Con enlace -->
<ng-template #iconWithLink>
  <!-- Enlace EXTERNO -->
  <a
    *ngIf="isExternalLink; else internalLink"
    [href]="link"
    [ngClass]="linkClass"
    target="_blank"
    rel="noopener noreferrer"
    (click)="onClick($event)"
    aria-label="icon-link-external"
  >
    <span [ngClass]="iconClass"></span>
    <span *ngIf="hasText" [ngClass]="textClass">{{ text }}</span>
  </a>

  <!-- Enlace INTERNO (routerLink) -->
  <ng-template #internalLink>
    <a
      [routerLink]="link"
      [ngClass]="linkClass"
      (click)="onClick($event)"
      aria-label="icon-link-internal"
    >
      <span [ngClass]="iconClass"></span>
      <span *ngIf="hasText" [ngClass]="textClass">{{ text }}</span>
    </a>
  </ng-template>
</ng-template>
