<div class="bg-white cursor-pointer border rounded-xl shadow-md group overflow-hidden">
  <div class="p-4 pb-0 flex flex-col h-full">
    <div class="mb-4 relative overflow-hidden rounded-lg" >
      <!-- Imagen del producto -->
      <image-control
        (click)="onClickProduct.emit(product.code)"
        [src]="product.imgUri"
        [alt]="product.name"
        imageClass="max-w-sm h-auto object-cover object-center transition-transform duration-300 group-hover:scale-105"
      />

      <!-- Botones superiores (wishlist y agregar al carrito) -->
      <div class="absolute top-2 right-2 flex gap-2 z-10">
        <!-- Lista de deseos -->
        <button-control
          [hasIcon]="true"
          buttonClass="flex justify-center items-center p-2 shadow-lg rounded-full bg-white/80 backdrop-blur-xs hover:text-[#E91E63] transition-all duration-300 group/fav"
          iconClass="w-6 h-6 flex justify-center items-center icon-[mdi--heart]"
          (onClick)="addWishlistEvent.emit(product.code)"
        />

        <!-- Agregar al carro -->
        <button-control
          [hasIcon]="true"
          buttonClass="flex justify-center items-center p-2 shadow-lg rounded-full bg-white/80 backdrop-blur-xs hover:text-[#E91E63] transition-all duration-300 group/fav "
          iconClass="w-6 h-6 flex justify-center items-center icon-[mdi--shopping]"
          (onClick)="addToCartEvent.emit(product.code)"
        />
      </div>

      <!-- Etiqueta de descuento -->
      <div
        *ngIf="product.discount > 0"
        class="absolute top-2 left-2 bg-black text-white px-2 py-1 rounded-full text-base font-bold font-karla"
      >
        {{ product.discount | number : "1.0-0" }}% OFF
      </div>
    </div>

    <!-- Información del producto -->
    <div class="flex flex-col grow">
      <!-- Nombre del producto -->
      <h2 class="text-md font-medium text-gray-900 mb-1 line-clamp-1 relative overflow-hidden">
        <span class="block mask-fade font-play-fair text-xl truncate">
          {{ product.name | uppercase }}
        </span>
      </h2>

      <!-- Precio y descuento -->
      <div class="flex items-baseline gap-2 mb-2">
        @if (product.discount > 0) {
        <span class="text-2xl font-bold font-karla text-gray-900">{{
          product.finalPrice | currency : "MXN" : "symbol" : "1.2-2"
        }}</span>
        <span class="text-sm text-gray-500 font-karla line-through">{{
          product.price | currency : "MXN" : "symbol" : "1.2-2"
        }}</span>
        } @else {
        <span class="text-2xl font-bold font-karla text-gray-900">{{
          product.price | currency : "MXN" : "symbol" : "1.2-2"
        }}</span>
        }
      </div>

      <!-- Categorías -->
      <div class="text-xs text-gray-500 mb-2 font-karla">
        {{ product.categoryName }} •
        {{ product.subCategoryName }}
      </div>

      <!-- Colores y Tallas -->
      <!-- <div class="flex items-center gap-4 mb-4">
        @if (product.colorsNames.length > 0) {
        <div class="flex items-center gap-1">
          @for (color of product.colorsNames.slice(0, 3); track color) {
          <div
            class="w-4 h-4 rounded-full border border-gray-300"
            [style.background-color]="color"
          ></div>
          } @if (product.colorsNames.length > 3) {
          <span class="text-xs text-gray-600"
            >+{{ product.colorsNames.length - 3 }}</span
          >
          }
        </div>
        } @if (product.sizesNames.length > 0) {
        <div class="flex items-center gap-1">
          @for (size of product.sizesNames.slice(0, 3); track size) {
          <span
            class="text-xs border border-gray-300 rounded-sm px-1.5 py-0.5"
            >{{ size }}</span
          >
          } @if (product.sizesNames.length > 3) {
          <span class="text-xs text-gray-600"
            >+{{ product.sizesNames.length - 3 }}</span
          >
          }
        </div>
        }
      </div> -->
    </div>
  </div>
</div>
