<!-- Modales (Anuncio de ofertas) -->

<!-- Seccion de banner promocional -->
<section class="container mx-auto px-4 pt-10 pb-2">
  <!-- Banner promocional -->
  <promotional-banner
    titlePromotional="!DESCUENTO EXCLUSIVO¡"
    subtitleMessage="COMPRA AHORA Y AHORRA EN TUS PRENDAS FAVORITAS"
    discountPercentage="50%"
  />
</section>

<!-- Seccion de servicios especiales -->
<section
  class="mx-auto px-6 py-16 mb-5 w-full text-white bg-gradient-to-r from-mallow-melon to-cascara"
>
  <div class="max-w-7xl mx-auto">
    <h2 class="text-3xl font-bold font-karla text-center mb-12">
      Nuestros Servicios
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <service-features
        titleMessage="ENVÍO A TODO HUEJUTLA"
        description="Contamos con envíos garantizados a todo el estado de Huejutla"
        iconClass="icon-[mdi--package]"
      ></service-features>

      <service-features
        titleMessage="ATENCIÓN AL CLIENTE"
        description="Te entendemos con gusto y resolvemos todas tus dudas"
        iconClass="icon-[mdi--support]"
      ></service-features>

      <service-features
        titleMessage="PAGOS SEGUROS"
        description="HOLAA Trendy ofrece pagos seguros, rápidos y fáciles"
        iconClass="icon-[mdi--shield]"
      ></service-features>
    </div>
  </div>
</section>

<!-- Slider de categorias -->
<slider-categories />

<!-- Seccion de productos especiales -->
<featured-products
  *ngIf="isAuthenticated() && recommendations().length > 0"
  id="bestSellers"
  [titleFeatured]="'Porque te encantó ' + productBoughtName()"
  description="Quizá también te gusten estos productos pensados para ti"
  [featuredProducts]="recommendations()"
/>

<featured-products
  id="bestOffers"
  titleFeatured="Ofertas"
  description="Descubre nuestros productos en oferta"
  [featuredProducts]="bestOffers"
/>

<!-- <featured-products
  id="newArrivals"
  titleFeatured="Recien Llegados"
  description="Descubre nuestros productos más recientes"
  [featuredProducts]="newArrivals"
/> -->
