<section
  class="container mx-auto px-4 py-12"
  *ngIf="featuredProducts.length > 0; else loadingTemplate"
>
  <div
    class="flex flex-col sm:flex-row items-start sm:items-center justify-between mb-8 gap-4"
  >
    <div class="space-y-2">
      <h2 class="text-2xl font-karla font-semibold tracking-tight">
        {{ titleFeatured }}
      </h2>
      <p class="font-karla text-muted-foreground">{{ description }}</p>
    </div>

    <navigation-link
      link=""
      linkText="Ver todo"
      linkClass=""
      [hasIcon]="true"
      [isIconRight]="true"
      iconClass="icon-[mdi--arrow-right-circle] w-5 h-5"
    />
  </div>

  <!-- Carousel de cartas de productos -->
  <div class="relative -mx-4 px-4">
    <owl-carousel-o #owlCarousel [options]="carouselOptions">
      @for (featuredProduct of featuredProducts; track featuredProduct.code) {
      <ng-template carouselSlide>
        <div class="px-2">
          <!-- Cartas de productos caracteristicos -->
          <product-card-featured
            [product]="featuredProduct"
            (onClickProduct)="redirectToProductDetail($event)"
            (addWishlistEvent)="onAddWishlist($event)"
            (addToCartEvent)="onAddToCart($event)"
          />
        </div>
      </ng-template>
      }
    </owl-carousel-o>

    <modal-product-variant
      [isOpen]="stateModal()"
      [product]="productSelected()"
      (onCloseModal)="stateModal.set(false)"
      (onAddToCart)="onAddToCartEvent($event)"
    />

    <!-- Custom Navigation -->
    <div class="hidden md:block">
      <button-control
        buttonClass="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-white/90 shadow-lg rounded-full p-3 -ml-6 hover:scale-110 transition-all hover:bg-white"
        [hasIcon]="true"
        iconClass="w-6 h-6 icon-[hugeicons--arrow-left-01]"
        (onClick)="prev()"
        text=""
      />

      <button-control
        buttonClass="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-white/90 shadow-lg rounded-full p-3 -mr-4 hover:scale-110 transition-all hover:bg-white"
        [hasIcon]="true"
        iconClass="w-6 h-6 icon-[hugeicons--arrow-right-01]"
        (onClick)="next()"
        text=""
      />
    </div>
  </div>
</section>

<ng-template #loadingTemplate>
  <loading-view loadingMessage="No se pudo encontrar productos especiales" />
</ng-template>
